/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin vertical-centered($height) {
    position: relative;
    top: 50%;
    top: -webkit-calc(50% - #{$height/2});
    top:    -moz-calc(50% - #{$height/2});
    top:         calc(50% - #{$height/2});
    transform: translateY(-50%);
}


@mixin horizontal-centered() {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
