$color_primary: #0093ee;
$color_primary_light: #00baf6;
$color_primary_light_bg: #00e7fb;

$color_secondary: #11a982;

$color_kamarada_welcome1: #de981c;
$color_kamarada_welcome2: #d2634f;
$color_kamarada_welcome3: #6fc4ac;
