@import "base";
@import "vars";
@import "mixins";
@import "modules/header";
@import "modules/video_card";
@import "modules/login_dialog";

p { font-family: 'Roboto', sans-serif; }

body, html { height: 100%; margin: 0; padding: 0; }

main.wrapper {
    position: relative;
    @include container;
    min-height: 100%;
    font-family: "Helvetica Neue", sans-serif;

    /*
    @media (min-width: 1200px) {
        @include show-grid(12);
    }
    @media (min-width: 900px) {
        @include show-grid(8);
    }
    */
}

header, article, aside {
  margin-bottom: gutter();
}

header {
    @include span(12 of 12);

    padding: gutter();
    /*
    @include container(80%);
    background-color: #FF4CA5; /* Of course, you can define your colours as variables if you prefer! */
}

article {
    @include span(12 of 12);
    margin-bottom: 4em;
    /*
    padding: 2 * gutter();
    background-color: #ff007f;
    */
}

/*
aside {
    @include span(4 of 12 last);
    padding: 2 * gutter();
    background-color: #CC0066;
}
*/

footer {
  /*
  */
  clear: both;
  position: absolute;
  bottom: 0;
  height: 4em;
  padding: 2em;
  left: 0;
  width: 100%;
  color: #fff;
  background-color: #37414f;
}


.navbar-header logo {
    background-color: #CC0066;
}

/**/
article, aside {
    margin-top: 350px;
    margin-top: $header-size-px;
}

a {
    text-decoration: none;
}

/* ==========================================================================
   Other
   ========================================================================== */
.videona-logo-md {
    width: 600px;
    height: 130px;
    background: url('/frontend/static/img/videona_400.png') no-repeat center;
    @include horizontal-centered();
}