    <header>
        <div class="header__navigation-bar navigation-bar">
            <div class="navigation-bar__logo">
                <div class="logo">
                    <img src="{{ url_for ('front_page.static', filename='img/logo_videona_text_135.png')}}">
                </div>
            </div>
            <div class="navigation-bar__slogan">
                <!--<p>Your life in a movie</p>-->
            </div>
            <div class="navigation-bar__auth-block">Signup - Login</div>
        </div>
        <div class="explore-header">
            <div class="explore-header__video-container"></div>
            <div class="explore-header__content">
                <img class="logo" src="{{ url_for ('front_page.static', filename='img/videona_big_white.png')}}" alt="Videona" />
                <p class="subtitle">Your life in a movie</p>
                <div class="search-form-container"></div>
            </div>
        </div>
    </header>
