<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for ('front_page.static', filename='css/screen.css')}}"/>
    <link rel="stylesheet" href="{{ url_for ('front_page.static', filename='css/main.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="{{ url_for ('front_page.static', filename='js/build/app.js')}}"></script>
    <title>Videona - Your life in a movie</title>
</head>
<body>
<main class="wrapper">
    {% include 'modules/_header.html' %}
    <article>
        <div class="article-content"></div>
        <!--#VideonaTime!<br/>-->
    </article>
    <footer>2016 - Videona</footer>
</main>
</body>
</html>